@import "./aeIdentity";

.ae-identity {
  @extend %ae-identity;

  &.active{
    @extend %ae-identity--active;
  }

  .footer {
    @extend %ae-identity_footer;
  }

  .avatar {
    @extend %ae-identity_avatar;

    &.ae-identity-avatar {
      margin-bottom: 0px;
    }
  }

  .flex-row{
    position:relative;
    display: flex;
    justify-content: space-between;
  }

  .chunked-address {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -10px;
  }

  .chunked-address .chunk {
    @extend %ae-identity_address-chunk;
  }
}

.ae-identity ,
.ae-identity * {
  @extend %ae-identity-transition;
}

.identity-info{
  @extend %ae-identity_identity-info;
}

.collapsed .identity-info{
  @extend %ae-identity_identity-info--collapsed;
}

.identity-info._long{
  @extend %ae-identity_identity-info--long;
}

.balances {
  width: auto;
  flex-grow: 1;
}

.balance {
  @extend %ae-identity_balance;

  .currency-symbol {
    @extend  %ae-identity_currency-symbol;
  }
}

.ae-identity .ae-identity-avatar{
  @extend %ae-identity_identity-avatar;
}
